
MahjongPractice/.DS_Store
MahjongPractice/MahjongPractice.xcworkspace/xcuserdata/ray.xcuserdatad/UserInterfaceState.xcuserstate
MahjongPractice/MahjongPractice.xcworkspace/xcuserdata/ray.xcuserdatad/UserInterfaceState.xcuserstate
